.homeContainer {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.homeContainer h1 {
	margin-bottom: 1rem;
}

.homeContainer input {
	height: 5rem;
	width: 30rem;

	border: none;
	border-radius: 0.5rem 0 0 0.5rem;

	padding: 1rem;

	font-size: 1.5rem;

	color: var(--text);
}

.homeContainer div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.homeContainer button {
	height: 5rem;
	width: 5rem;

	cursor: pointer;

	background: var(--blue);

	border: none;
	border-radius: 0 0.5rem 0.5rem 0;

	font-size: 0;
}

.homeContainer a {
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-decoration: underline;
}

